
@*
AUTHORS
Toa Pita
Brayden Buhler
Nathan Conrad
Isaac Waddell
*@

@{
    ViewData["Title"] = "View Quadrants";
}

@model List<Tasks>

<div class="container">
    <div class="row">
        <h2>Stephen Covey's Time Management Matrix</h2>
    </div>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-5">
            <h4>Urgent</h4>
        </div>
        <div class="col-5">
            <h4>Not Urgent</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <h4>Important</h4>
        </div>
        <div class="col-5">
            <h5>Quad 1</h5>
            <ul>
                @foreach (Tasks t in ViewBag.quad1)
                {
                    <li>
                        <a asp-controller="Home" asp-action="Edit" asp-route-taskID="@t.taskID">Edit</a>
                            @t.TaskName
                        <a asp-controller="Home" asp-action="Delete" asp-route-taskID="@t.taskID">Delete</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-5">
            <h5>Quad 2</h5>
            <ul>
                @foreach (Tasks t in ViewBag.quad2)
                {
                    <li>
                        <a asp-controller="Home" asp-action="Edit" asp-route-taskID="@t.taskID">Edit</a>
                            @t.TaskName
                        <a asp-controller="Home" asp-action="Delete" asp-route-taskID="@t.taskID">Delete</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <h4>Not Important</h4>
        </div>
        <div class="col-5">
            <h5>Quad 3</h5>
            <ul>
                @foreach (Tasks t in ViewBag.quad3)
                {
                    <li>
                        <a asp-controller="Home" asp-action="Edit" asp-route-taskID="@t.taskID">Edit</a>
                            @t.TaskName
                        <a asp-controller="Home" asp-action="Delete" asp-route-taskID="@t.taskID">Delete</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-5">
            <h5>Quad 4</h5>
            <ul>
                @foreach (Tasks t in ViewBag.quad4)
                {
                    <li>
                        <a asp-controller="Home" asp-action="Edit" asp-route-taskID="@t.taskID">Edit</a>
                            @t.TaskName
                        <a asp-controller="Home" asp-action="Delete" asp-route-taskID="@t.taskID">Delete</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>


